name: finseq
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scipy
  - scikit-learn
  - matplotlib
  - seaborn
  - pyyaml
  - pip
  - pip:
    - torch
    - torchmetrics
    - yfinance
    - tqdm

